html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
  }
  h1, h2{
    font-family: 'Playfair Display', serif;
  } 
  label{
    display: block;
  }
  .orange{
    color: #f2994a;
  }
  .material-icons.md-36 { 
    font-size: 36px; 
    margin: 0 10px;
  }
  .container{
    max-width: 1000px;
    padding: 0 2em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .header, .recipe{
    grid-column: 1/8;
  }
  .header .subtitle{
    display: flex;
  }
  .header .subtitle p{
    margin: 0;
    margin-bottom: 2em;
  }
  .header .subtitle img{
    align-self: flex-start;
    margin: 7px
  }
  .recipe{
    grid-row-start: 3;
  }
  .recipe input[type=checkbox] {
    width: 20px;
    height: 20px;
    filter: hue-rotate(180deg) brightness(1.5);
    flex-shrink: 0;
    margin-right: 10px;
  }
  .recipe .ingredients{
    display: flex;
  }
  .recipe .instructions{
    display: flex;
    padding: 1em 0;
  }
  .recipe .instructions p{
    margin: 0;
  }
  .recipe .instructions .number{
    padding: 0px 10px 6px;
    background-color: #F2994A;
    align-self: flex-start;
    border-radius: 5px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
  }
  .specs{
    grid-column: 10/13;
  }
  .specs-info{
    padding: 3em 0;
    margin-top: 2em;
    background: white;
    filter: drop-shadow(1px 3px 16px lightgrey);
    border-radius: 10px;
  }
  .specs .info{
    padding: 1em;
    display: flex;
  }
  .specs .info p{
    margin: 0;
  }
  .specs .info .label{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }
  .cake{
    width: 100%;
    height: auto;
    grid-column: 1/13;
  }
  footer{
    grid-column: 1/13;
    text-align: center;
  }
  @media screen and (max-width: 775px) {
    .header, .specs{
      grid-column: 1/13;
    }
    .recipe{
      grid-row-start: unset;
      grid-column: 1/13;
    }
    .specs .times{
      display: flex;
      justify-content: space-between;
    }
    .specs .info{
      padding: 1em 0;
    }
    .specs .specs-info{
      padding: unset;
      filter: unset;
    }
  }
  @media screen and (max-width: 450px){
    .container{
      padding: 0 1em;
    }
    .material-icons.md-36 {
      font-size: 24px;
    }
    .specs .info .label {
      font-size: 10px;
    }
    .specs .info p{
      font-size: 14px;
    }
  }